body {
  background-color: #1d1d1d;
}
.container {
  width: 100%;
  margin: auto;
}
.logo-section {
  text-align: center;
}
.logo {
  margin-top: 90px;
  margin-bottom: 16px;
}
.logo-title {
  font-family: numans;
  font-weight: 400;
  font-size: 70px;
  line-height: 80px;
  color: #c3c8d4;
  margin-bottom: 40px;
}
.admin-section {
  height: 424px;
  margin-bottom: 82px;
}
.input-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.username-block {
  position: relative;
  width: 547px;
  height: 64px;
  background-color: #0000;
  border-radius: 12px;
  border: 1px solid #323b54;
}
.message-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 20px;
  left: 16px;
  cursor: pointer;
}
.username {
  width: 475px;
  height: 40px;
  position: absolute;
  background-color: #1a1a1a;
  border: 0;
  right: 16px;
  top: 12px;
}
.password-section {
  position: relative;
  width: 547px;
  height: 64px;
  background-color: #0000;
  border-radius: 12px;
  border: 1px solid #323b54;
}

.password {
  width: 435px;
  height: 40px;
  position: absolute;
  top: 12px;
  left: 56px;
  background-color: #1a1a1a;
  border: 0;
}
.key-icon {
  position: absolute;
  left: 16px;
  top: 20px;
  cursor: pointer;
}
.eye-icon {
  position: absolute;
  right: 16px;
  top: 20px;
  cursor: pointer;
}

.btn {
  width: 547px;
  height: 56px;
  border-radius: 12px;
  background-color: #9b51e0;
  margin-top: 40px;
  border: 0;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
