/* TABLE  */

.table-container{
    padding-top: 30px;
    margin: auto;
    font-size: 14px;
  }
  
  .table {
    border-collapse:collapse; 
    border-spacing: 0; 
    width: 100%;
    border-radius: 10px; 
    overflow: hidden; 
  }
  .table thead{
    background: #1E1E1E;
    color: white;
  }
  .table tbody{
    background: white;
  }
  .table th, 
  .table td {
    padding: 15px;
    text-align: left;
  }
  
  .table tr:first-child th:first-child {
    border-top-left-radius: 10px; 
  }
  
  .table tr:first-child th:last-child {
    border-top-right-radius: 10px; 
  }
  
  .table tr:last-child td:first-child {
    border-bottom-left-radius: 10px; 
  }
  
  .table tr:last-child td:last-child {
    border-bottom-right-radius: 10px; 
  }